.root {
     -fx-background-color: white;
     -fx-font-family: 'Roboto';
     -fx-font-size: 20;
}

.label {
    -fx-font-family: 'Roboto';
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 20;	
}

.text-field {
	-fx-text-fill: #4d4d4d;
	-fx-prompt-text-fill: #c4c4c4;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0;
	-fx-effect: null;	
}

.button {
        -fx-text-fill: #0090ff;
        -fx-background-color: white;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0;
        -fx-cursor: hand;
}