.root {
     -fx-background-color: #ffffff;
     -fx-font-family: 'Roboto';
     -fx-font-size: 20;
}

.label {
    -fx-font-family: 'Roboto';
    -fx-font-weight: bold;
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 25;
    -fx-effect: null;	
}

.text-field {
	-fx-text-fill: #4d4d4d;
	-fx-prompt-text-fill: #c4c4c4;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0;
	-fx-effect: null;
        -jfx-focus-color: #0080ff;
        -jfx-unfocus-color: #0080ff;
        -jfx-label-float: true;
}

.text-area {
        -fx-background-color: #ffffff;
	-fx-text-fill: #4d4d4d;
        -fx-font-size: 15;
	-fx-prompt-text-fill: #c4c4c4;
	-fx-border-color: #0080FF;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
        -jfx-focus-color: #ffffff;
        -jfx-unfocus-color: #ffffff;
}

.list-view {
	-fx-background-color: #ffffff;
        -fx-font-size: 15;
	-fx-border-color: #0080ff;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
	-fx-effect: null;
}

.tool-bar {
        -fx-background-color: #0080ff;
        -fx-padding: 3;
	-fx-effect: null;
}

.menu-button {
        -fx-background-color: #f2f2f2;
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 5;
	-fx-background-radius: 5;
        -fx-underline: false;
        -fx-cursor: hand;
}

.menu {
	-fx-background-color: #f2f2f2;
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 5;
	-fx-background-radius: 5;
        -fx-underline: false;
        -fx-cursor: hand;
	-fx-effect: null;
}

.menu-bar {
	-fx-background-color: #0080ff;
        -fx-padding: 3;
	-fx-effect: null;
}

.button {
	-fx-background-color: #0080FF;
        -fx-text-fill: #ffffff;
	-fx-border-color: #ffffff;
        -fx-underline: false;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0;
        -fx-cursor: hand;
}

.radio-button {
        -fx-underline: false;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
        -fx-cursor: hand;
        -jfx-selected-color: #0080ff;
}

.date-picker {
    jfx-default-color: #0080ff;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #0080ff;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #0080ff;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #0080ff;
    -fx-stroke-width: 3pt;
}

