.root {
     -fx-background-color: "#E6E6E6";
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: null;	
}

.text-field {
	-fx-text-fill: #000000;
	-fx-prompt-text-fill: #d8d8d8;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
	-fx-effect: null;
	
}

.text-area {
	-fx-text-fill: #000000;
	-fx-prompt-text-fill: #d8d8d8;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
	-fx-effect: null;
}

.list-view {
	-fx-text-fill: #000000;
	-fx-prompt-text-fill: #d8d8d8;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
	-fx-effect: null;
}

.tool-bar {
        -fx-background-color: #0080ff;
        -fx-padding: 3;
	-fx-effect: null;
}

.menu-button {
        -fx-background-color: #f2f2f2;
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 5;
	-fx-background-radius: 5;
        -fx-underline: false;
        -fx-cursor: hand;
	-fx-effect: null;
}

.menu {
	-fx-background-color: #f2f2f2;
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 5;
	-fx-background-radius: 5;
        -fx-underline: false;
        -fx-cursor: hand;
	-fx-effect: null;
}

.menu-bar {
	-fx-background-color: #0080ff;
        -fx-padding: 3;
	-fx-effect: null;
}

.button {
	-fx-background-color: #0080FF;
        -fx-text-fill: #ffffff;
	-fx-border-color: #ffffff;
        -fx-underline: false;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
        -fx-cursor: hand;
	-fx-effect: null;
}

.radio-button {
        -fx-underline: false;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1;
        -fx-cursor: hand;
	-fx-effect: null;
    
}

.date-picker {
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0;
        -fx-cursor: hand;
	-fx-effect: null;
	
}